@import url("https://fonts.googleapis.com/css2?family=Karla&display=swap");

a:hover{
    text-decoration: none !important;
}
body{
    background-color:#e0e5ec !important;
}
body p{
    font-family: 'Karla', sans-serif !important;
}

/* preloader */
.preloader{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Dosis', sans-serif;
    font-size: 1.2rem;
    background-color: #e0e5ec;
}
.preloader-inner{
    display:grid;
    grid-template-columns:1fr 3fr;
    width:150px;
    height:100px;
	border-radius:10px;
    background-color:#e0e5ec;
    box-shadow: inset 4px 4px 8px #a3b1c6, inset -0.25em -0.25em 0.5em  #fff;
}
.loading{
    display:flex;
    justify-content:center;
    align-items:center;
    font-size:1.1rem;
    padding-left:6px;
}
.loading p{
    margin:auto;
}


/* non-preloader-body */
.non-preloader-body{
    display: none;
}
/* Title Section */
#title{
    height:100vh;
    padding: 3% 8% 0 !important;
    background:url(../Assets/1.png);
    background-size: cover;
    font-family: 'Dosis', sans-serif;
    animation-name:move-background;
    animation-iteration-count:infinite;
    animation-duration:30s;
    animation-timing-function:ease-in-out;
}
@keyframes move-background{
    0%{background-position-y:center;}
    50%{background-position-y:bottom;}
    100%{background-position-y:center;}
}
.carousel-inner{
    display:flex;
    align-items:center;
    height: 390px;
    border-radius: 10px;
    background-color: #e0e5ec;
    box-shadow: inset 9px 9px 16px #a3b1c6, inset -0.7em -0.7em 1em  #fff;
}
.carousel button{
    border:0;
    background:none;
}
.carousel-control-prev{
    justify-content:flex-start !important;
    transform:translateX(-25px);
    opacity:1 !important;
}
.carousel-control-prev span{
    background-color:#31344b;
    height:40px;
    width:40px;
    display:flex;
    justify-content:center;
    align-items:center;
    border-radius:50%;
}
.carousel-control-next{
    justify-content:flex-end !important;
    transform:translateX(25px);
    opacity:1 !important;
}
.carousel-control-next span{
    background-color:#31344b;
    height:40px;
    width:40px;
    display:flex;
    justify-content:center;
    align-items:center;
    border-radius:50%;
}
.introduction-div{
    text-align: center;
    color: #31344b;
    padding: 3% 5%;
}
.introduction-div h1{
    font-size: 4rem;
}
.introduction-div button{
    display: block;
    height: 50px;
    width: 220px;
    border-radius: 50px; 
    background-color: rgba(0, 0, 0,0);
    color: #31344b;
    margin: 5% auto 2%;
    text-transform: uppercase;
    font-size: 1.2rem;
    transition: 0.2s;
    box-shadow: 4px 4px 8px #a3b1c6, -0.25em -0.25em 0.5em  #fff;
    border: 0 !important;
}
.introduction-div button:hover{
    box-shadow: inset 4px 4px 8px #a3b1c6, inset -0.25em -0.25em 0.5em  #fff;
}
.introduction-div a{
    color: #31344b !important;
}
.introduction-div a:hover{
    text-decoration: none;
    color: #31344b !important;
}
.social-media{
    list-style: none;
    display: flex !important;
    justify-content: center;
    transform: translate(-20px,0);
}
.social-media-link{
    display:flex !important;
    justify-content:center;
    align-items:center;
    margin: 10px;
    background-color:#e0e5ec;
    color: #31344b;
    display: block;
    height: 45px;
    width: 45px;
    border-radius: 50%;
    text-align: center;
    transition: 0.2s;
    box-shadow: 4px 4px 8px #a3b1c6;
}
.social-media-link:hover{
    color: #31344b !important;
    box-shadow: inset 4px 4px 8px #a3b1c6, inset -0.25em -0.25em 0.5em  #fff;
    background-color:#e0e5ec !important;
}

.appreciation-div, .appreciation-div-2{
    color: #31344b;
    text-align: center;
    padding: 3% 10%;
    border-radius: 10px;
}
.appreciation-div h1{
    font-size: 4rem;
    margin: 2% 0;
}
.appreciation-div p{
    margin-bottom: 2.1%;
    margin-top:1%;
    letter-spacing: 0.1rem;
}
.appreciation-div hr, .appreciation-div-2 hr{
    width: 10%;
    border: 0;
    border-top: 2px solid #999477;
    margin-top: 3%;
    margin-bottom: 3%;
}
.appreciation-div h5{
    letter-spacing: 0.1rem;
}

.appreciation-div-2 h1{
    font-size: 4rem;
    margin: 3%;
}
.appreciation-div-2 h5{
     letter-spacing: 0.1rem;
     margin-bottom: 2.7%;
}
#down{
    visibility:hidden;
    position:absolute;
    bottom:30px;
    left:50%;
    transform:translateX(-50%);
}
#up{
    display:flex;
    justify-content:center;
    padding-bottom:50px;
}
#down a, #up a{
    display:flex;
    justify-content:center;
    align-items:center;
    height: 60px;
    width: 60px;
    background-color:#33413b;
    color:#eee;
    border-radius:50%;
    animation-name:move-arrow;
    animation-iteration-count:infinite;
    animation-duration:3s;
    animation-timing-function:ease-in-out;
}
@keyframes move-arrow{
    0%{transform:translateY(10px)}
    50%{transform:translateY(-10px)}
    100%{transform:translateY(10px)}
}
/* Navbar */
.logo{
    height: 70px;
    border-radius: 5px;
    margin-top: 5px;
    margin-bottom: 8px;
}
.navbar{
    background-color: #e0e5ec;
    padding: 0% 8% !important;
}
.nav-link{
    display:block;
    height: 40px;
    width: 120px;
    margin:auto;
    text-align: center!important;
    border-radius: 3px;
    color: #31344b;
    font-weight: bold;
    font-family: 'Dosis', sans-serif !important;
    text-transform: uppercase;
}
.nav-link:hover{
    color: #31344b;
    box-shadow: inset 4px 4px 8px #a3b1c6, inset -0.25em -0.25em 0.5em  #fff;
}
/* About-Me */
#About-me{
    padding: 5% 6% 8%;
    /* background:url(../Assets/2.png); */
    background-color:#0f0f0f;
    background-size:cover;
    background-attachment:center;
    animation-name:move-background;
    animation-iteration-count:infinite;
    animation-duration:30s;
    animation-timing-function:ease-in-out;
    color:#eee;
}
.my-img-section{
    display: flex;
    justify-content: left;
    align-items: center;
}
.my-img{
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color:#e0e5ec; */
    background-color:#0f0f0f;
    height: 400px;
    width: 400px;
    border-radius: 8px;
    /* box-shadow: inset 8px 8px 8px #a3b1c6, inset -0.5em -0.5em 0.5em  #fff; */
    box-shadow: inset 8px 8px 8px #070707, inset -0.5em -0.5em 0.5em  #171717;
}
.my-img img{
    height: 350px;
    border-radius: 10px;
}
.about-me-text hr{
    float:left;
    width: 10%;
    border:0;
    border-top: 5px dotted #eee;
}
.about-me-text{
    padding: 5% 7% !important;
    letter-spacing: 0.1rem;
    line-height: 1.4;
}
.about-me-text p{
    clear:left;
    font-size: 1rem;
}
.about-button{
    display:flex !important;
    align-items:center;
    justify-content:center;
    margin:  5% 0;
    font-size:1.2rem;
    display: block;
    height: 50px;
    width: 160px;
    border-radius: 10px;
    /* color: #31344b; */
    color:#eee;
    /* background-color:#e0e5ec; */
    background-color:#0f0f0f;
    transition: 0.2s;
    /* box-shadow: 1px 1px 8px #a3b1c6, -0.0625em -0.0625em 0.5em  #fff; */
    box-shadow: 8px 8px 8px #070707, -0.5em -0.5em 0.5em  #171717;
    font-family: 'Dosis', sans-serif;
}
.about-button:hover{
    text-decoration: none;
    color:#eee;
    /* box-shadow: inset 4px 4px 8px #a3b1c6, inset -0.25em -0.25em 0.5em  #fff; */
    box-shadow: inset 8px 8px 8px #070707, inset -0.5em -0.5em 0.5em  #171717;
}
@media(max-width:600px){
    .about-me-text{
        padding:5% 0 !important;
    }
    .about-me-text h2{
        margin-top:30px;
        text-align:center;
    }
    .about-me-text p{
        text-align:center;
    }
    .about-button{
        margin:auto;
    }
    #title{
        padding-top:20% !important;
    }
    #down{
        visibility:visible;
    }
}
/* Portfolio section */
#portfolio{
    background:url(../Assets/3.png);
    background-size:cover;
    background-attachment:center;
    padding:0 8%;
}
.my-img2-section{
    display: flex;
    justify-content: center;
    align-items: center;
}
.my-img2{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#e0e5ec;
    width: 350px;
    height: 650px;
    border-radius: 8px;
    box-shadow: inset 8px 8px 8px #a3b1c6, inset -0.5em -0.5em 0.5em  #fff;
}
.my-img2 img{
    width: 300px;
    height: 600px;
    border-radius: 10px;
} 
.portfolio{
    letter-spacing: 0.1rem;
    line-height: 1.5;
}
.portfolio-heading{
    padding: 5% ;
    text-align: center;
}
.portfolio-line{
    width: 10%;
    border:0;
    border-top: 5px dotted #31344b;
}
.skill{
   background-color: #e0e5ec;
   letter-spacing: 0.1rem;
   padding: 2% 4%;
   border-radius: 10px; 
   position:relative;
}
.skill::before {
  content: '';
  width: 120px;
  height: 50px;
  border-left: 1px solid tomato;
  border-top: 1px solid tomato;
  border-radius:10px 0 0 0;
  background:none;
  position:absolute;
  top:0;
  left:0;
}
.skill::after {
  content: '';
  width: 120px;
  height: 50px;
  border-right: 1px solid tomato;
  border-bottom: 1px solid tomato;
  border-radius:0 0 10px 0;
  background:none;
  position:absolute;
  bottom:0;
  right:0;
}
.bar{
    margin-top:15px;
    height:8px;
    border-radius:4px;
    box-shadow: inset 4px 4px 8px #a3b1c6, inset -0.25em -0.25em 0.5em  #fff;
    box-shadow: 4px 4px 8px #a3b1c6, -0.25em -0.25em 0.5em  #fff ;
}
.upto{
    background-color:#1a8bdb;
    height:100%;
    border-radius:4px;
    background: linear-gradient(145deg, #5bc6ff, #4da7db);
}
.js{
    width:90%;
}
.html{
    width:90%;
}
.c{
    width:75%;
}
.mern{
    width:80%;
}
.bootstrap{
    width:90%;
}

/* Properties */
#properties{
    text-align: center;
    padding: 2% 8%;
    font-family: 'Dosis',sans-serif;
    background-color: #e0e5ec;
}
#properties h2{
    color: #31344b;
    font-size: 3rem;
}
#properties hr{
    width: 10%;
    border:0;
    border-top: 5px dotted #31344b;
}
.property-element{
    padding: 5% 3% !important;
}
.property-element-inner{
   background-color: #e0e5ec;
   letter-spacing: 0.1rem;
   padding: 0 0 10%;
   box-shadow: 4px 4px 8px #a3b1c6, -0.25em -0.25em 0.5em  #fff ;
   border-radius: 10px; 
   transition: 0.3s;
}
.property-element-inner div{
    height:250px;
    width:100%;
    background-color:#000;
    overflow:auto;
}
.property-element-inner div::-webkit-scrollbar{
    display:none;
}
.property-element-inner img{
    height:100%;
    width:100%;
    object-fit:cover;
    object-position:top;
}
#properties a{
    margin: 15px auto;
    display: flex;
    color:#eee;
    background-color:tomato;
    align-items:center;
    justify-content:center;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    transition: 0.2s;
    text-decoration:none;
    box-shadow: 4px 4px 8px #a3b1c6;
}
#properties a:hover{
    color: #31344b;
    background-color:#e0e5ec;
    box-shadow: inset 4px 4px 8px #a3b1c6, inset -0.25em -0.25em 0.5em  #fff;
}

/* Contact */
#contact{
    padding: 0.5% 8% 0.5%;
    font-family: 'Dosis',sans-serif;
}
.stay-in-touch{
    text-align: center;
    color: #31344b;
    background:url(../Assets/5.jpg);
    background-size:cover;
    background-position-y:30%;
    background-position-x:center;
}
.background-shade{
    background-color:#a3b1c6;
    opacity:0.8;
    padding: 8% 0;
}
.stay-in-touch h1{
    font-size: 6rem;
}

.form-side{
    padding:5% 5% !important;
    color: #31344b;
    background-color: #e0e5ec;
}
.form-side h1{
    font-size: 3.5rem;
}
.form-side2{
    padding: 5% 10% 5% 0 !important;
    font-size: 1.1rem;
    letter-spacing: 0.1rem;
    color: #31344b;
    background-color: #e0e5ec;
}
.contact-info{
    display:grid; 
    padding:20px; 
    grid-template-columns:10% 90%;
    align-items:center;
    border-radius: 10px;
    background-color: #e0e5ec;
    box-shadow: inset 9px 9px 16px #a3b1c6, inset -0.7em -0.7em 1em  #fff;
}
.icon{
    height:55px;
    width:55px;
    border-radius:50%;
    box-shadow: 4px 4px 8px #a3b1c6, -0.25em -0.25em 0.5em  #fff;
    color:#eee;
}
.icon:nth-child(1){
    background-color:tomato;
}
/* Contact-details */
#contact-details{
    color: #000;
    margin-top: 0.1%;
    background-color:#e0e5ec;
    background-size:cover;
    background-position-x:45%;
    background-position-y:70%;
}
.background-shade-2{
    padding: 10% 4% 5%;
    background-color: #e0e5ec;
    opacity:0.8;
}
.copy-right{
    text-align: center;
    padding: 4% 0 0;
}
/* Media-queries */
@media (max-width:980px){
    .nav-link{
        text-align:left;
    }
    .logo{
        height: 50px;
    }
    .sideContactBar{
        padding: 10% 5%;
    }
    .introduction-div, .appreciation-div, .appreciation-div-2{
        padding: 3% 2%;
    }
    .carousel-inner{
        height: 300px;
    }
.introduction-div h1,.appreciation-div h1, .appreciation-div-2 h1{
    font-size: 2.2rem;
    line-height: 1.3;
}
#title{
    animation:none;
    background-position-x:center;
}
.appreciation-div h5, .appreciation-div-2 h5{
    padding-top: 5%;
    font-size: 1rem;
    line-height: 1.5;
}
.social-media{
    margin-bottom:40px;
}
.introduction-div button{
    margin-top:40px;
}
.about-me-text hr{
    float:none;
}
.my-img-section{
    display:flex;
    justify-content:center;
}
.my-img img{
    width: 250px;
    height: 250px;
}
.my-img{
    padding: 5%;
    width: 300px;
    height: 300px;
}
.portfolio-line{
    width: 20%;
    border: 0;
    border-top:5px dotted #a79f76;
}
.skill{
    padding:4% 6%;
}
.skill h5{
    font-size:1rem;
}
.my-img2{
   width: 300px;
   height: 625px;
}
.my-img2 img{
    width: 250px;
    height: 575px;
}
.properties p{
    text-align: center;
}
.properties img{
    width: 80px;
}
#contact{
    padding: 1% 8%;
}
.stay-in-touch{
    border-radius: 0;
}
.stay-in-touch h1{
    font-size: 3rem;
}
.form-side{
    padding: 3% !important;
}
.form-side h1{
    font-size: 2rem;
}
.form-side2{
    padding: 0 3% !important;
    font-size: 1rem;
}
.contact-button{
    width: 160px;
    height: 40px;
}
#contact-details{
    padding-left:8%;
    padding-right:8%;
}
button{
    outline:none !important;
}




/* -------------------------------------- */
.hidden {
  opacity:0;
}
.console-container {
  text-align:center;
  color:#33413b;
}
.console-underscore {
  display:inline-block;
}