@import url("https://fonts.googleapis.com/css2?family=Karla&display=swap");

a:hover{
    text-decoration: none !important;
}
body{
    background-color:#e0e5ec !important;
}
body p{
    font-family: 'Karla', sans-serif !important;
}

/* preloader */
.preloader{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Dosis', sans-serif;
    font-size: 1.2rem;
    background-color: #e0e5ec;
    position: absolute;
}
.preloader-inner{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.preloader-inner > div, .preloader-inner > img{
    position: absolute;
}
.loader {
    --path: #0e0e0e;
    --dot: #ff6347;
    --duration: 4s;
    width: 176px;
    height: 176px;
    position: relative;
}
svg {
    display: block;
    width: 100%;
    height: 100%;
}
svg circle {
    fill: none;
    stroke: var(--path);
    stroke-width: 15px;
    stroke-linejoin: round;
    stroke-linecap: round;
    stroke-dasharray: calc(800 / 4 * 3) calc(800 / 4) calc(800 / 4 * 3) calc(800 / 4);
    stroke-dashoffset: 300;
    animation: pathCircle var(--duration) cubic-bezier(0.785, 0.135, 0.15, 0.86) infinite;
    filter: drop-shadow(4px 4px 8px #a3b1c6);
}
.loader::before{
    content: '';
    width: 18px;
    height: 18px;
    border-radius: 50%;
    position: absolute;
    display: block;
    background: var(--dot);
    top: 150px;
    left: 75px;
    transform: translate(-72px, -72px);
    animation: dotRect var(--duration) cubic-bezier(0.785, 0.135, 0.15, 0.86) infinite;
    box-shadow: 4px 4px 8px #a3b1c6;
}
@keyframes dotRect {
    25% {
        transform: translate(0, 0);
    }
    50% {
        transform: translate(72px, -72px);
    }
    75% {
        transform: translate(0, -144px);
    }
    100% {
        transform: translate(-72px, -72px);
    }
}

@keyframes pathCircle {
    25% {
        stroke-dashoffset: 500;
    }
    50% {
        stroke-dashoffset: 700;
    }
    75% {
        stroke-dashoffset: 900;
    }
    100% {
        stroke-dashoffset: 1100;
    }
}

/* non-preloader-body */
.non-preloader-body{
    display: none;
}
/* Title Section */
#title{
    height:85vh;
    background:url("../Assets/5053309.jpg");
    background-size: cover;
    font-family: 'Dosis', sans-serif;
}
.shade{
    height: 100%;
    width: 100%;
    background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(15,15,15,1) 0%, rgba(15,15,15,0.19681375968356096) 50%, rgba(15,15,15,1) 100%);
    padding: 3% 8% 0;
    backdrop-filter: blur(2px);
}
.carousel-inner{
    display:flex;
    align-items:center;
    height: 390px;
    border-radius: 10px;
    background-color: none;
}
.carousel button{
    border:0;
    background:none;
}
.carousel-control-prev{
    justify-content:flex-start !important;
    transform:translateX(-25px);
    opacity:1 !important;
}
.carousel-control-prev span{
    background-color:#31344b;
    height:40px;
    width:40px;
    display:flex;
    justify-content:center;
    align-items:center;
    border-radius:50%;
}
.carousel-control-next{
    justify-content:flex-end !important;
    transform:translateX(25px);
    opacity:1 !important;
}
.carousel-control-next span{
    background-color:#31344b;
    height:40px;
    width:40px;
    display:flex;
    justify-content:center;
    align-items:center;
    border-radius:50%;
}
.introduction-div{
    text-align: center;
    color: #e0e5ec;
    padding: 3% 5%;
}
.introduction-div h1{
    font-size: 4rem;
}
.introduction-div button{
    display: block;
    height: 50px;
    width: 220px;
    border-radius: 50px; 
    background-color: rgba(0, 0, 0,0);
    margin: 5% auto 2%;
    text-transform: uppercase;
    font-size: 1.2rem;
    transition: 0.2s;
    border: 1px solid #e0e5ec;
}
.introduction-div a{
    color: #e0e5ec !important;
}
.introduction-div a:hover{
    text-decoration: none;
    color: #e0e5ec !important;
}
.introduction-div button:hover{
    border: 1px solid #ff6347;
    box-shadow: 0 0 40px 3px #ff634778;
}
.sm{
    list-style: none;
    display: flex;
    justify-content: center;
    transform: translate(-20px,0);
}
.sm a{
    display:flex;
    justify-content:center;
    align-items:center;
    margin: 10px;
    background-color:#e0e5ec;
    color: #31344b;
    height: 45px;
    width: 45px;
    border-radius: 50%;
    text-align: center;
    transition: 0.2s;
    box-shadow: 4px 4px 8px #a3b1c6;
}
.sm a:hover{
    color: #31344b !important;
    box-shadow: inset 4px 4px 8px #a3b1c6, inset -0.25em -0.25em 0.5em  #fff;
    background-color:#e0e5ec !important;
}
#title .sm a{
    background: none;
    box-shadow: none;
    color: #e0e5ec;
    border: 1px solid #e0e5ec;
}
#title .sm a:hover{
    color: #e0e5ec !important;
    background:none !important;
    border: 1px solid #ff6347;
    box-shadow: 0 0 40px 2px #ff634778;
}
.appreciation-div, .appreciation-div-2{
    color: #e0e5ec;
    text-align: center;
    padding: 3% 10%;
    border-radius: 10px;
}
.appreciation-div h1{
    font-size: 4rem;
    margin: 2% 0;
}
.appreciation-div p{
    margin-bottom: 2.1%;
    margin-top:1%;
    letter-spacing: 0.1rem;
}
.appreciation-div hr, .appreciation-div-2 hr{
    width: 10%;
    border: 0;
    border-top: 2px solid #999477;
    margin-top: 3%;
    margin-bottom: 3%;
}
.appreciation-div h5{
    letter-spacing: 0.1rem;
}

.appreciation-div-2 h1{
    font-size: 4rem;
    margin: 3%;
}
.appreciation-div-2 h5{
     letter-spacing: 0.1rem;
     margin-bottom: 2.7%;
}
#down{
    visibility:hidden;
    position:absolute;
    bottom:30px;
    left:50%;
    transform:translateX(-50%);
}
#up{
    display:flex;
    justify-content:center;
    padding-bottom:50px;
}
#down a, #up a{
    display:flex;
    justify-content:center;
    align-items:center;
    height: 60px;
    width: 60px;
    background-color:#33413b;
    color:#eee;
    border-radius:50%;
    animation-name:move-arrow;
    animation-iteration-count:infinite;
    animation-duration:3s;
    animation-timing-function:ease-in-out;
}
@keyframes move-arrow{
    0%{transform:translateY(10px)}
    50%{transform:translateY(-10px)}
    100%{transform:translateY(10px)}
}
/* Navbar */
.logo{
    height: 70px;
    border-radius: 5px;
    margin-top: 5px;
    margin-bottom: 8px;
}
.navbar{
    background-color: #0f0f0f;
    padding: 0% 8% !important;
    padding-top: 10px !important;
}
.nav-link{
    display:block;
    height: 40px;
    width: 120px;
    margin:auto;
    text-align: center!important;
    border-radius: 3px;
    color: #e0e5ec;
    font-family: 'Dosis', sans-serif !important;
    text-transform: uppercase;
    transition: 0.2s;
}
.nav-link:hover{
    color: #e0e5ec;
    text-shadow:
    0 0 1px #ff6347,
    0 0 2px #ff6347,
    0 0 4px #ff6347,
    0 0 8px #ff6347;
}
.navbar-toggler{
    color: #e0e5ec;
}
/* About-Me */
#About-me{
    background: url("../Assets/sl_0210121_40570_34.jpg");
    background-size: cover;
    background-position: center;
    color:#e0e5ec;
}
.shade2{
    height: 100%;
    width: 100%;
    background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(15,15,15,1) 0%, rgba(15, 15, 15, 0) 50%, rgba(15,15,15,1) 100%);
    padding: 5% 6% 8%;
    backdrop-filter: blur(2px);
}
.my-img-section{
    display: flex;
    justify-content: left;
    align-items: center;
}
.my-img{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#0f0f0f;
    height: 450px;
    width: 450px;
    border-radius: 8px;
    /* box-shadow: inset 8px 8px 8px #070707, inset -0.5em -0.5em 0.5em  #171717; */
    transform: rotate(-5deg);
    border: 1px solid #4fade2;
    box-shadow: 0 0 40px 3px #4face294;
}
.my-img img{
    height: 100%;
    width: 100%;
    border-radius: 10px;
    opacity: 0.8;
}
.about-me-text hr{
    float:left;
    width: 10%;
    border:0;
    border-top: 5px dotted #e0e5ec;
}
.about-me-text h2{
    font-family: 'Dosis', sans-serif;
}
.about-me-text{
    padding: 5% 7% !important;
    letter-spacing: 0.1rem;
    line-height: 1.4;
    text-align: justify;
}
.about-me-text p{
    clear:left;
    font-size: 1rem;
}
.about-button{
    display:flex !important;
    align-items:center;
    justify-content:center;
    margin:  5% 0;
    font-size:1.2rem;
    display: block;
    height: 45px;
    width: 180px;
    border-radius: 30px;
    color:#e0e5ec;
    background-color:#0f0f0f;
    transition: 0.2s;
    font-family: 'Dosis', sans-serif;
    border: 1px solid #e0e5ec;
}
.about-button:hover{
    text-decoration: none;
    color:#e0e5ec;
    border: 1px solid #ff6347;
    box-shadow: 0 0 40px 3px #ff634778;
}
@media(max-width:600px){
    .about-me-text{
        padding:5% 0 !important;
    }
    .about-me-text h2{
        margin-top:30px;
        text-align:center;
    }
    .about-me-text p{
        text-align:justify;
        text-align-last: center;
    }
    .about-button{
        margin:auto;
    }
    #title .shade{
        padding-top:20% !important;
    }
    #down{
        visibility:visible;
    }
}
/* Portfolio section */
#portfolio{
    background:url(../Assets/3.png);
    background-size:cover;
    background-attachment:center;
    padding:0 8%;
}
.my-img2-section{
    display: flex;
    justify-content: center;
    align-items: center;
}
.my-img2{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#e0e5ec;
    width: 350px;
    height: 650px;
    border-radius: 8px;
    box-shadow: inset 8px 8px 8px #a3b1c6, inset -0.5em -0.5em 0.5em  #fff;
}
.my-img2 img{
    width: 300px;
    height: 600px;
    border-radius: 10px;
} 
.portfolio{
    letter-spacing: 0.1rem;
    line-height: 1.5;
}
.portfolio-heading{
    padding: 5% ;
    text-align: center;
}
.portfolio-line{
    width: 10%;
    border:0;
    border-top: 5px dotted #31344b;
}
.skill{
   background-color: #e0e5ec;
   letter-spacing: 0.1rem;
   padding: 2% 4%;
   border-radius: 10px; 
   position:relative;
}
.skill::before {
  content: '';
  width: 120px;
  height: 50px;
  border-left: 1px solid tomato;
  border-top: 1px solid tomato;
  border-radius:10px 0 0 0;
  background:none;
  position:absolute;
  top:0;
  left:0;
}
.skill::after {
  content: '';
  width: 120px;
  height: 50px;
  border-right: 1px solid tomato;
  border-bottom: 1px solid tomato;
  border-radius:0 0 10px 0;
  background:none;
  position:absolute;
  bottom:0;
  right:0;
}
.bar{
    margin-top:15px;
    height:8px;
    border-radius:4px;
    box-shadow: inset 4px 4px 8px #a3b1c6, inset -0.25em -0.25em 0.5em  #fff;
    box-shadow: 4px 4px 8px #a3b1c6, -0.25em -0.25em 0.5em  #fff ;
}
.upto{
    background-color:#1a8bdb;
    height:100%;
    border-radius:4px;
    background: linear-gradient(145deg, #5bc6ff, #4da7db);
}
.js{
    width:90%;
}
.html{
    width:90%;
}
.c{
    width:90%;
}
.mern{
    width:80%;
}
.bootstrap{
    width:90%;
}

/* Properties */
#properties{
    text-align: center;
    padding: 2% 8%;
    font-family: 'Dosis',sans-serif;
    background-color: #e0e5ec;
}
/* Edify video */
.edify-outer{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5;
    height: 100vh;
    width: 100vw;
    background: rgba(17, 17, 59, 0.842);
    display: flex;
    justify-content: center;
    align-items: center;
}
.edify-outer button{
    position: absolute;
    top: 10px;
    right: 10px;
}
.play-edify{
    position: absolute;
    top: 0;
    right: 0;
    margin: 20px !important;
    color: #fff !important;
    background-color: tomato !important;
    border-radius: 50% !important;
    padding: 15px 20px !important;
}
.edify-inner{
    position: relative;
    width: 90%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e0e5ec;
    padding: 10px;
    border-radius: 20px;
}
.edify-inner > iframe{
    aspect-ratio: 16/9;
    border:2px solid #50ade2;
    border-radius: 10px;
}
#properties h2{
    color: #31344b;
    font-size: 3rem;
}
#properties hr{
    width: 10%;
    border:0;
    border-top: 5px dotted #31344b;
}
.property-element{
    padding: 5% 3% !important;
}
.property-element-inner{
   background-color: #e0e5ec;
   letter-spacing: 0.1rem;
   padding: 0 0 10%;
   box-shadow: 4px 4px 8px #a3b1c6, -0.25em -0.25em 0.5em  #fff ;
   border-radius: 10px; 
   transition: 0.3s;
}
.property-element-inner div{
    height:260px;
    width:100%;
    overflow:scroll;
    padding: 5px;
}
@media (max-width:500px){
    .property-element-inner div{
        height: 180px !important;
    }
}
.property-element-inner div::-webkit-scrollbar{
    display:none;
}
.property-element-inner img{
    width:100%;
    border-radius: 10px 10px 0 0;
}
#properties a{
    margin: 15px auto;
    display: flex;
    color:#eee;
    background-color:tomato;
    align-items:center;
    justify-content:center;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    transition: 0.2s;
    text-decoration:none;
    box-shadow: 4px 4px 8px #a3b1c6;
}
#properties a:hover{
    color: #31344b;
    background-color:#e0e5ec;
    box-shadow: inset 4px 4px 8px #a3b1c6, inset -0.25em -0.25em 0.5em  #fff;
}

/* Contact */
#contact{
    padding: 0.5% 8% 0.5%;
    font-family: 'Dosis',sans-serif;
}
.stay-in-touch{
    text-align: center;
    color: #31344b;
    background:url(../Assets/5.jpg);
    background-size:cover;
    background-position-y:30%;
    background-position-x:center;
}
.background-shade{
    background-color:#a3b1c6;
    opacity:0.8;
    padding: 8% 0;

}
.stay-in-touch h1{
    font-size: 6rem;
}

.form-side{
    padding:5% 5% !important;
    color: #31344b;
    background-color: #e0e5ec;
}
.form-side h1{
    font-size: 3.5rem;
}
.form-side2{
    padding: 5% 10% 5% 0 !important;
    font-size: 1.1rem;
    letter-spacing: 0.1rem;
    color: #31344b;
    background-color: #e0e5ec;
}
.contact-info{
    display:grid; 
    padding:20px; 
    grid-template-columns:10% 90%;
    align-items:center;
    border-radius: 10px;
    background-color: #e0e5ec;
    box-shadow: inset 9px 9px 16px #a3b1c6, inset -0.7em -0.7em 1em  #fff;
}
.icon{
    height:55px;
    width:55px;
    border-radius:50%;
    box-shadow: 4px 4px 8px #a3b1c6, -0.25em -0.25em 0.5em  #fff;
    color:#eee;
}
.icon:nth-child(1){
    background-color:tomato;
}
/* Contact-details */
#contact-details{
    color: #000;
    margin-top: 0.1%;
    background-color:#e0e5ec;
    background-size:cover;
    background-position-x:45%;
    background-position-y:70%;
}
.background-shade-2{
    padding: 10% 4% 5%;
    background-color: #e0e5ec;
    opacity:0.8;
}
.copy-right{
    text-align: center;
    padding: 4% 0 0;
}
/* Media-queries */
@media (max-width:980px){
    .nav-link{
        text-align:left;
    }
    .logo{
        height: 50px;
    }
    .sideContactBar{
        padding: 10% 5%;
    }
    .introduction-div, .appreciation-div, .appreciation-div-2{
        padding: 3% 2%;
    }
    .carousel-inner{
        height: 300px;
    }
    .introduction-div h1,.appreciation-div h1, .appreciation-div-2 h1{
        font-size: 2.2rem;
        line-height: 1.3;
    }
    #title{
        animation:none;
        background-position-x:center;
    }
    .appreciation-div h5, .appreciation-div-2 h5{
        padding-top: 5%;
        font-size: 1rem;
        line-height: 1.5;
    }
    .social-media{
        margin-bottom:40px;
    }
    .introduction-div button{
        margin-top:40px;
    }
    .about-me-text hr{
        float:none;
    }
    .my-img-section{
        display:flex;
        justify-content:center;
    }
    .my-img{
        width: 280px;
        height: 280px;
        margin-bottom: 20px;
    }
    .my-img img{
        width: 100%;
        height: 100%;
    }
    .portfolio-line{
        width: 20%;
        border: 0;
        border-top:5px dotted #a79f76;
    }
    .skill{
        padding:4% 6%;
    }
    .skill h5{
        font-size:1rem;
    }
    .my-img2{
        width: 300px;
        height: 625px;
    }
    .my-img2 img{
        width: 250px;
        height: 575px;
    }
    .properties p{
        text-align: center;
    }
    .properties img{
        width: 80px;
    }
    #contact{
        padding: 1% 8%;
    }
    .stay-in-touch{
        border-radius: 0;
    }
    .stay-in-touch h1{
        font-size: 3rem;
    }
    .form-side{
        padding: 3% !important;
    }
    .form-side h1{
        font-size: 2rem;
    }
    .form-side2{
        padding: 0 3% !important;
        font-size: 1rem;
    }
    .contact-button{
        width: 160px;
        height: 40px;
    }
    #contact-details{
        padding-left:8%;
        padding-right:8%;
    }
}
button{
    outline:none !important;
}




/* -------------------------------------- */
.hidden {
  opacity:0;
}
.console-container {
  text-align:center;
  color:#33413b;
}
.console-underscore {
  display:inline-block;
}